<%= link_to new_cocktail_path do %>
  <div class="background">
    <p class="btn btn-flat btn-home" href="#">Create your <span class="favorite">favorite</span> cocktail</p>
  </div>
<% end %>

<h1>Cocktails</h1>
