<%= link_to new_cocktail_path do %>
  <div id="add_cocktail">
    <button class="btn btn-flat btn-index">Create your <span class="favorite">favorite</span> cocktail</button>
  </div>
<% end %>


<div class="container mt-3">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <%= cl_image_tag("https://res.cloudinary.com/rosemaryakl/image/upload/v1595675817/san_fransisco.jpg", width: 400, height: 300, crop: :fill) %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
